{
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:json/recommended"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": ["warn", "always"],
    "indent": ["error", 2],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "global-require": 0,
    "no-debugger": "warn",
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "comma-dangle": ["error", "never"],
    "react/prefer-stateless-function": [0, { "ignorePureComponents": true }],
    "linebreak-style": ["error", "windows"]
  }
}
